/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.hide_relationship_item { display: none !important; }
.full-width { width: 100%; }
.centralize { text-align: center !important; }
.title-label {
    padding: 1em 0 0 0 !important;
    margin-top: 1em !important;
    border-top: 1px solid #ccc;
}
.cpac-divider {
    display: inline-block;
    width: 14px;
    height: 12px;
    background: url(../images/square.png) 50% 7px no-repeat;
}