/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.hide_relationship_item { display: none !important; }
.full-width { width: 100%; }
.centralize { text-align: center !important; }